.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 13px;
  background-color: rgb(254, 163, 1);
  color: #fff;
  font-weight: 600;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}

.center-text {
  text-align: center;
}
