.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 13px;
  background-color: rgb(254, 163, 1);
  color: #fff;
  font-weight: 600;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-cols-3 {
  grid-template-columns: repeat(3, 1fr);
}

.center-text {
  text-align: center;
}

/* Helper class */

.home {
  color: rgb(254, 163, 1);
}
.about {
  color: rgb(1, 172, 253);
}

.facilities {
  color: rgb(5, 212, 223);
}

.admission {
  color: rgb(93, 88, 239);
}

.card-bg-1 {
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-bg-2 {
  border: 0.94px solid rgb(255, 244, 220);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.card-bg-3 {
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.story-sub-card-date-1 {
  background: rgb(149, 178, 38);
}
.story-sub-card-date-2 .story-sub-card-date-3 .story-sub-card-date-4 .black {
  background-color: #000;
}
