@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", serif;
  line-height: 1;
  color: #555;
  font-weight: 400;

  max-width: 144rem;
  margin: 0 auto;
}

/* Header section */

.navbar {
  align-items: center;
  justify-content: space-between;
}

.brand {
  align-items: center;
}

.brand-img {
  width: 6.2rem;
  height: 6.2rem;
}

.brand-name {
  font-size: 3.2rem;
  font-weight: 900;
}

.nav-links {
  gap: 2rem;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 500;
}

/* Banner section */

.banner {
  padding: 1rem;
  align-items: center;
  gap: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}
.banner-content {
  max-width: 64rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.banner-img {
  width: 100%;
}
.primary-heading {
  font-size: 5.6rem;
  font-weight: 700;
  letter-spacing: -unset;
}

.description {
  font-size: 1.8rem;
  font-weight: 500;
}
