@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Quicksand", serif;
  line-height: 1;
  color: #555;
  font-weight: 400;

  max-width: 144rem;
  margin: 0 auto;
}

/* Header section */

.navbar {
  align-items: center;
  justify-content: space-between;
}

.brand {
  align-items: center;
}

.brand-img {
  width: 6.2rem;
  height: 6.2rem;
}

.brand-name {
  font-size: 3.2rem;
  font-weight: 900;
}

.nav-links {
  gap: 2rem;
}
.nav-link {
  font-size: 1.6rem;
  font-weight: 500;
}

/* Banner section */

.banner {
  padding: 1rem;
  align-items: center;
  gap: 2rem;
  max-width: 120rem;
  margin: 0 auto;
}
.banner-content {
  max-width: 64rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.banner-img {
  width: 100%;
}
.primary-heading {
  font-size: 5.6rem;
  font-weight: 700;
  letter-spacing: -unset;
}

.description {
  font-size: 1.8rem;
  font-weight: 500;
}

/* Curriculum section 
*/

.curriculum {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem;

  background: url("../assets/bg.png") no-repeat;
}

.secondary-heading {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.cards {
  gap: 2rem;
  margin: 8rem 0;
  align-items: center;
}

.card {
  padding: 2rem;

  flex-direction: column;
  align-items: flex-start;
  gap: 1.3rem;
}

.card-heading {
  font-size: 2.2rem;
  font-weight: 700;
}

.card-description {
  font-size: 1.6rem;
}

.card-btn {
  border: none;
  padding: 0.5rem;
  border-radius: 9px;
}

.ion-arrow {
  border: none;
  padding: 0.8rem;
  background-color: rgb(254, 163, 1);
  border-radius: 3rem;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 700;
}

/* Stories section */

.stories {
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 4rem;
  background: url(../assets/bg.png) no-repeat center,
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.story-cards {
  /* align-items: start; */

  gap: 2rem;
  margin: 8rem 0;
}

.story-card {
  /* padding: 2rem; */
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  border-radius: 16px;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

.primary-card-img {
  width: 100%;
  display: block;
}

.primary-story-content {
  padding: 2.8rem 1.6rem 2.8rem 1.6rem;

  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}

.card-date {
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 47.93px;
  background: rgb(60, 216, 232);
  color: rgb(255, 255, 255);
  font-family: Raleway;
  text-transform: capitalize;
  padding: 1rem 2rem;
  margin: -2.5rem 0 0 2.5rem;
}

.story-heading {
  color: rgb(0, 0, 0);
  font-size: 2.4rem;
  font-weight: 700;
}

.story-description {
  color: rgb(102, 102, 102);
  font-size: 1.6rem;
  font-weight: 500;
  text-align: justify;
}

.story-sub-card-parent {
  gap: 1.2rem;
}

.story-sub-card {
  flex-direction: column;
  align-items: flex-start;

  border-radius: 16px;
  background: rgb(255, 255, 255);
  overflow: hidden;
}

.sub-card-img {
  width: 100%;
}
.sub-card-date {
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-family: Raleway;
  text-transform: capitalize;
  padding: 1rem 2rem;
  border-radius: 47.93px;

  margin: -1.5rem 0 0 3.5rem;
}
.story-sub-heading {
  color: rgb(0, 0, 0);
  font-size: 1.6rem;
  font-weight: 700;
  padding: 1.8rem;
}

.view-btn {
  padding-bottom: 2rem;
}

/* Footer section started */

.footer {
  max-width: 144rem;
  margin: 0 auto;
  padding: 1rem;

  background: rgb(1, 172, 253);
  color: rgb(255, 255, 255);
}

.footer-container {
  width: 80%;
  margin: 4rem auto;
  padding: 6rem 0;
  gap: 8rem;

  grid-template-columns: repeat(1, 2fr) 1fr 1fr;
}

.footer-info {
  flex-direction: column;
  gap: 2rem;
  align-self: center;
}
.footer-brand {
  align-items: center;
}

.footer-logo {
  width: 6.2rem;
  height: 6.2rem;
}
.footer-logo-name {
  font-size: 3.2rem;
  font-weight: 700;
}

.footer-description {
  font-size: 1.6rem;
}
/* Footer about */

.footer-about {
  /* color: rgb(255, 255, 255); */
}

.footer-about-heading {
  font-size: 2.4rem;
  font-weight: 500;
}

.footer-links {
  margin-top: 1rem;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-link {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

/* Social link */

.footer-social-links {
  flex-direction: column;

  gap: 1.5rem;
}
.footer-social-heading {
  font-size: 2.4rem;
  font-weight: 600;
}

.social-links {
  gap: 1.5em;
}

.hide {
  display: none;
}

/* Mobile Responsive */

@media screen and (max-width: 576px) {
  .nav-links,
  .school,
  .contact,
  .btn-box,
  .story-card {
    display: none;
  }

  .menu {
    display: block;
  }
  .banner {
    flex-direction: column-reverse;
  }

  .banner-content {
    align-items: center;
    text-align: center;
  }
  .primary-heading {
    font-size: 3.2rem;
  }
  .description {
    font-size: 1.6rem;
  }
  .secondary-heading {
    font-size: 2.8rem;
  }
  .cards {
    margin-top: 2rem;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .card {
    align-items: center;
    padding: 3.2rem;
    text-align: center;
    gap: 2rem;
  }

  .story-cards {
    margin: 2rem 0;
  }

  .stories {
    padding: 0;
  }
  .story-cards {
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  .view {
    padding: 1rem 3rem;
    font-size: 1.6rem;
  }

  .footer-container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 0 2rem;
    gap: 2rem;
  }
}
